.App {
  text-align: center;
  padding-top: 60px;
}
.container {
  padding-top: 60px;
}
.row {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.col-md-6 {
  display: inline-block;
  width: 100%;
}
form {
  text-align: center;
  display: inline-block;
}


